.designsucks
{
	background-color: #66CCFF;
}

.myframe
{
	width:100%;
	height:95%;
	border:2px solid black;
}

.mycontainer
{
    height:75vh !important;
    width:100%;
    border:2px solid blue;
}

.consola
{
	width:100%;
	height:75vh !important;
	background-color: black !important;
	border:2px solid green;
	padding: 5px; 
}